<h1>Capistrano Deployment!!!</h1>
<img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif"><img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif"><img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif"><img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif">
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oLRNcbZDcEM" frameborder="0" allowfullscreen></iframe>
<br>
<img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif"><img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif"><img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif"><img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif">
<br>

<h1>Timeline</h1>
<br>~3mins manual edits : inputting node name into puppet master, prepping node, starting agent
<br>~8mins node from empty node to code **this** code deployed
<br>code from here autodeploys every min (cap run through a script as a cron job)
