<h1>Capistrano Deployment!!!</h1>
<<<<<<< HEAD
poo
<img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif">
=======
<img src="http://28.media.tumblr.com/tumblr_l1tm3rw57G1qbu8e6o1_250.gif">
<br> I wish I had started doing this 5 years ago
Not much to see here :-D
YET
>>>>>>> 4570542262143fac3b88e16a04d0b3f8149ad033
